
/* Styles for our timer */
@font-face {
  font-family: 'FiraMono';
  src: url('/FiraMono-Regular.woff2') format('woff2'),
       url('/FiraMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: FiraMono, monospace;
  font-size: 100%;
  margin: 0;
  width: 100%
  color: #000;
}

noscript {
  display: block;
  background: red;
  padding: .5em 1em;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

section#timer {
  font-family: FiraMono, monospace;
  text-align: center;
  font-size: 30vw;
}

section#controls {
  display: flex;
  justify-content: center;
}

button#start-pause,
button#set-reset {
  border-radius: 0;
  background: #ddd;
  border: 2px solid #ddd;
  padding: .25em .5em;
  font-size: 2em;
  width: 4em;
  color: inherit;
  cursor: pointer;
}

button#start-pause:focus,
button#set-reset:focus,
input#input:focus,
button#start-pause:active,
button#start-pause:active,
input#input:active {
  border: 2px solid #aaa;
  outline: 0 !important;
}

button::-moz-focus-inner { border : 0px; }

button#start-pause {
  border-top-left-radius: .5em;
  border-bottom-left-radius: .5em;
}

input#input {
  border-radius: 0;
  border: 2px solid #ddd;
  padding: .25em .5em;
  font-size: 2em;
  width: 5em;
  text-align: center;
}

input#input.set {
  background: #ddd;
}

::placeholder {
  font-family: FiraMono, monospace;
  color: #ccc;
  text-align: center;
}

button#set-reset {
  border-top-right-radius: .5em;
  border-bottom-right-radius: .5em;
}

@media all and (max-width: 420px) {

  button#start-pause,
  input#input,
  button#set-reset {
    font-size: 1.5em;
  }

}

